<!DOCTYPE html>
<html>

<head>
    <title>Compare Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <style>
        p.double {
            border-style: double;
        }
    </style>
</head>

<body>
    <% var tagsDict = [] %>
        <% include navigate.ejs %>
            <br>
            <br>
            <p id="data" style="display:none;">
                <%= jsonData %>
            </p>
            <p id="line" style="display:none;">
                <%= jsonLine %>
            </p>
            <p id="tagsData" style="display:none;">
                <%= jsonDropDowntag %>
            </p>

            <a class="btn btn-large btn-info" href="/userchart">VISUALIZE LOGGED IN USERS</a>
            <br>
            <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto">
                <script type="text/javascript">
                    var x = JSON.parse(document.getElementById('data').innerHTML);

                    Highcharts.chart('container', {
                        chart: {
                            type: 'bar',
                            events: {
                                click: function (event) {
                                    var label = this.renderer.label(
                                        'x: ' + Highcharts.numberFormat(event.xAxis[0].value, 0) + ', y: ' + Highcharts.numberFormat(event.yAxis[0].value, 0),
                                        event.xAxis[0].axis.toPixels(event.xAxis[0].value),
                                        event.yAxis[0].axis.toPixels(event.yAxis[0].value)
                                    )
                                        .attr({
                                            fill: Highcharts.getOptions().colors[0],
                                            padding: 10,
                                            r: 5,
                                            zIndex: 8
                                        })
                                        .css({
                                            color: '#FFFFFF'
                                        })
                                        .add();

                                    setTimeout(function () {
                                        label.fadeOut();
                                    }, 1000);
                                }
                            }
                        },
                        title: {
                            text: 'Compare User activity against peers activities'
                        },
                        subtitle: {
                            text: 'Source: <a href="https://mlab.com/databases/behaviourlogdatabase/collections/users">mLab Database</a>'
                        },
                        xAxis: {
                            categories: ['Page Loads', 'Star', 'Comments', 'AskQuestion', 'UpVote'],
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Frequency of captured events',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ' '
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 80,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: 'aaa',
                            data: x["aaa"]
                        }, {
                            name: 'bbb',
                            data: x["bbb"]
                        }, {
                            name: 'ccc',
                            data: x["ccc"]
                        }]
                    });
                </script>
            </div>
            <p class="double"><b>Analysis:</b><br> Here we make a comparison on the behaviour logs for all users. This study can be used to
                verify if the user having a higher login rate is equally active on the site.
                <ol>
                    <li>Example: We observe that user "aaa" had maximum page views and fairly higher rates of other behaviours
                        recordings too.</li>
                    <li>While user "ccc" had lesser page loads she was more active as her records show higher count of behaviours
                        logged like bookmarking or commenting questions. </li>
                    <li>User "bbb" was more keen on posting questions to clarify doubts on viewing a page. </li>
                    <li>It was observed that most of the behaviours were performed during the day or night.</li>
                </ol>
            </p>
                <p class="double"><br> <b>Interactivity:</b><br> Hover: It gives the frequency of behaviours of all users for easy comparison.<br>Click:
                Clicking the user names can hide the respective user graph to better analyze other users or for individual
                user analysis.
            </p>
            <br><br>
            <br<br><br><br>
                <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto">
                    <script type="text/javascript">
                        var xline = JSON.parse(document.getElementById("line").innerHTML);

                        Highcharts.chart('container2', {
                            chart: {
                                type: 'line',
                                events: {
                                    click: function (event) {
                                        var label = this.renderer.label(
                                            'x: ' + Highcharts.numberFormat(event.xAxis[0].value, 0) + ', y: ' + Highcharts.numberFormat(event.yAxis[0].value, 0),
                                            event.xAxis[0].axis.toPixels(event.xAxis[0].value),
                                            event.yAxis[0].axis.toPixels(event.yAxis[0].value)
                                        )
                                            .attr({
                                                fill: Highcharts.getOptions().colors[0],
                                                padding: 10,
                                                r: 5,
                                                zIndex: 8
                                            })
                                            .css({
                                                color: '#FFFFFF'
                                            })
                                            .add();

                                        setTimeout(function () {
                                            label.fadeOut();
                                        }, 1000);
                                    }
                                }
                            },
                            title: {
                                text: 'Compare User Logins On A Given Date'
                            },
                            subtitle: {
                                text: 'Source: < a href="https://mlab.com/databases/behaviourlogdatabase/collections/users"> mLab Database</a>'
                            },
                            xAxis: {
                                categories: xline["dates"]
                            },
                            yAxis: {
                                title: {
                                    text: 'Number of Logins'
                                }
                            },
                            plotOptions: {
                                series: {
                                    cursor: 'pointer',
                                    point: {
                                        events: {
                                            click: function () {
                                                alert('Date: ' + this.category + ', Number of Logins: ' + this.y);
                                            }
                                        }
                                    }
                                }
                            },
                            series: [{
                                name: 'aaa',
                                data: xline['aaa']
                            }, {
                                name: 'bbb',
                                data: xline['bbb']
                            }, {
                                name: 'ccc',
                                data: xline['ccc']
                            }]
                        });
                    </script>
                </div>
                <br>
                <p class="double"><b>Analysis:</b><br>
                    <ol>
                        <li>This graph compares the login activities of users.</li>
                        <li>Higher the number of logins we deduce that the user is more active. </li>
                        <li>User "aaa" has a higher login rate consistently when compared to others, indicating that he spends
                            more time on the site. This stats could encourage his peers to be more active on the site. </li>
                        <li>The login activity of all users shot up towards the month end indicating that deadlines were approaching<li>
                    </ol>
                </p>
                <p class="double"><b>Interactivity:</b><br>Click: Click the nodes to get details for the graph as an alert message<br>                    Hover: Gives the details of frequency of logins for all users.
                </p>
                <br><br>
                <h4><span class="label label-warning">Please Select A Tag Filter To View Graph</span></h4>
                <select id="dropDown">
        <%  var tags = tagsArray.split("$");
            for(var tag in tags){  %>
                <option value="<%= tags[tag] %>" selected><%= tags[tag] %></option>
        <% } %>
        </select>
                <div id="container3" style="min-width: 310px; max-width: 700px; height: 400px; margin: 0 auto">
                    <script type="text/javascript">
                        tagsDict = JSON.parse(document.getElementById('tagsData').innerHTML);
                        $(function () {
                            $('select').change(function () {
                                var e = document.getElementById("dropDown");
                                var tagValue = e.options[e.selectedIndex].value;

                                Highcharts.chart('container3', {
                                    chart: {
                                        type: 'column',
                                        events: {
                                            click: function (event) {
                                                var label = this.renderer.label(
                                                    'x: ' + Highcharts.numberFormat(event.xAxis[0].value, 0) + ', y: ' + Highcharts.numberFormat(event.yAxis[0].value, 0),
                                                    event.xAxis[0].axis.toPixels(event.xAxis[0].value),
                                                    event.yAxis[0].axis.toPixels(event.yAxis[0].value)
                                                )
                                                    .attr({
                                                        fill: Highcharts.getOptions().colors[0],
                                                        padding: 10,
                                                        r: 5,
                                                        zIndex: 8
                                                    })
                                                    .css({
                                                        color: '#FFFFFF'
                                                    })
                                                    .add();

                                                setTimeout(function () {
                                                    label.fadeOut();
                                                }, 1000);
                                            }
                                        }
                                    },
                                    title: {
                                        text: 'Compare Tags From Different Pages Visited By Different Users'
                                    },
                                    subtitle: {
                                        text: 'Source: < a href="https://mlab.com/databases/behaviourlogdatabase/collections/users"> mLab Database</a>'
                                    },
                                    xAxis: {
                                        categories: [
                                            'aaa',
                                            'bbb',
                                            'ccc'

                                        ],
                                        crosshair: true
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'TagsFrequency'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: tagValue,
                                        data: tagsDict[tagValue]

                                    }]
                                });
                            });
                        });
                    </script>
                </div>
                <p class="double"><b>Analysis:</b>
                    <ol>
                        <li>From the analysis on tags visited by the user, we can obtain the topics of interest to the user.</li>
                        <li>The pattern observed here was that we could group people with similar interests from the higher frequencies
                            recorded for similar tags. </li>
                        <li>The tags for different questions are collected and only the top 8 tags are analyzed every time. To
                            illustrate the findings: Java tag was common amongst all the users. </li>
                    </ol>
                </p>
                <p class="double"><br> <b>Interactivity:</b><br>Filter: Filter based on tags. Select a tag from the dropdownlist to view graph
                    for the selected tag<br> Hover: Gives the details of frequency of the tag.<br>Click: Click anywhere on
                    the graph it gives the coordinates at that point.
                </p>
</body>

</html>